main {
  text-align: left;
}

.pedido-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


/* MENÚ */
.menu {
  flex: 2;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.menu h2 {
  margin-bottom: 20px;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.item h3 {
  margin: 0;
}

.item p {
  margin: 5px 0 10px;
}

/* PEDIDO */
.pedido {
  flex: 1;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.pedido ul {
  list-style: none;
  padding: 0;
}

.pedido li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.total {
  font-weight: bold;
  margin-top: 15px;
}

.continuar {
  width: 100%;
  margin-top: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .pedido-container {
    flex-direction: column;
  }
}
